data/*
logs/*
logs-age/*
logs-gender-new/*
model-age/*
model-gender/*
.idea/
__pycache__/*
/model-gender/
model-gender-new/*
/model-gender1/
/logs/
tfrecords/
/logs-gender/
*.tmp
*.pyc
*.txt
